---
layout: default
---  
<div class="tag_line mb40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 oi_blog_post_title_inner">
                        <h3>Blog</h3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-right oi_breadcrumbs">
                        <div class="breadcrumbs">
                             <a class="colored" href="{{site.url}}/index.html">Home</a>
                            &nbsp;&nbsp;›&nbsp;&nbsp;<span><a href="{{site.url}}/blog/" class="colored">Blog</a></span>
                            &nbsp;&nbsp;›&nbsp;&nbsp;<span class="current">News</span> 
                    </div><!-- .breadcrumbs --> 
                    </div>
                </div>
            </div>                  
</div>

<div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">  

                   {% for news in site.categories.news %}
                    <div class=" post type-post status-publish format-image has-post-thumbnail hentry category-all-posts category-lessons category-web-design row oi_post">
                        <div class="col-md-12">
                            <div class="blog_item">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="oi_full_blog_post_date">
                                            <div class="oi_date_d colored">
                                                {{ news.date | date: "%d %B" }}
                                            </div>
                                            <div class="oi_date_y">
                                                 {{ news.date | date: "%Y" }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <div class="oi_blog_item_holder">
                                            <div class="oi_blog_full_content_holder">
                                                <div class="oi_blog_head">
                                                    <h3 class="oi_blog_post_title"><a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a></h3>
                                                    <div class="oi_blog_meta">
                                                         By <a href="#" title="Posts by OrangeIdea" rel="author">{{news.author}}</a>,&nbsp;&nbsp; {{news.categories}},&nbsp;&nbsp; <a href="another-post-just-for-demo.html#comments">0 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="oi_post_format_content">
                                                <div class="oi_with_mask_no_url">
                                                    <a rel="prettyPhoto" class="oi_pretty_image_link" title="{{news.title}}" href="images/8-1024x576.gif">
                                                    <div class="oi_pretty_image_link_plus">
                                                    </div>
                                                    </a>
                                                    <img src="{{site.baseurl}}/images/{{news.images}}" alt="{{news.title}}">
                                                </div>
                                            </div>
                                            <div class="oi_blog_item_content">
                                                <div class="oi_blog_item_main_content">
                                                    <p>
                                                       {{news.excerpt}}
                                                    </p>
                                                    <div class="oi_read_more">
                                                        <a class="oi_readmore_btn colored" href="{{site.baseurl}}{{news.url}}"> Read More</a>
                                                    </div>
                                                    <p>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}  




                    <hr class="notopmargin">
                    <div class="pride_pg">
                    </div>
                    <!-- Pagination links -->
                    {% if paginator.total_pages > 1 %}        
                    <ul class="pagination pagination-sm"> 

                             {% if paginator.previous_page %}
                                <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous"><span aria-hidden="true">&laquo; Prev</span></a></li>
                              {% else %}
<!--                                 <li><span>&laquo; Prev</span></li>    -->                           
                              {% endif %}

                              {% for page in (1..paginator.total_pages) %}
                                {% if page == paginator.page %}
                                   <li style="background:#ff3b2f;"><span>{{ page }}</span></li> 
                                {% elsif page == 1 %}
                                  <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>            
                                {% else %}
                                   <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li> 
                                {% endif %}

                              {% endfor %}

                              {% if paginator.next_page %}
                                <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next"><span aria-hidden="true">Next &raquo;</span></a></li> 
                              {% else %}
                             <!-- <li><span>Next &raquo;</span></li>  -->
                                
                              {% endif %}                     
                    </ul>
                    {% endif %}
                    <!-- Pagination links -->

                </div>
                

                <!--/Page contetn-->

                <!--Sidebar-->
               {%  include sidebar.html %}
                <!--/Sidebar-->
            </div>
</div>




