 <div class="oi_custom_footer_holder">
            <div class="container1">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="oi_custom_footer_text">
                            <h5><strong class="colored">Important</strong> Information</h5>
                             {{ site.importantinfo }} <hr/>
                            <h5><strong class="colored">Contact</strong> with us</h5>
                            <strong>Address:</strong> {{ site.address }}<br>
                            <strong>Phone:</strong> {{ site.phone }}<br>
                            <strong>Fax:</strong> {{ site.fax }}<br>
                            <strong>Website:</strong> {{ site.website }}<br>
                            <strong>Email:</strong> {{ site.email }} <hr/>
                            <div class="social_text">
                                <h5><strong class="colored">Social</strong> links</h5>
                                <div class="oi_soc_icons">
                                    <a href="#" title="Twitter" target="_blank"><div class="menu_icon_t"></div></a>
                                    <a href="#" title="Facebook" target="_blank"><div class="menu_icon_facebook"></div></a>
                                    <a href="#" title="Google+" target="_blank"><div class="menu_icon_google"></div></a>
                                    <a href="#" title="Pinterest" target="_blank"><div class="menu_icon_pi"></div></a>
                                    <a href="#" title="LinkedIn" target="_blank"><div class="menu_icon_in"></div></a>
                                    <a href="#" title="Dribbble" target="_blank"><div class="menu_icon_dribbble"></div></a>
                                    <a href="#" title="YouTube" target="_blank"><div class="menu_icon_youtube"></div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 oi_no_rp">
                        <div class="oi_custom_footer_form">
                        	<div id="note"></div>
                            <div class="wpcf7" id="fields">
                                <form name="" action="javascript:alert('Was send!');" method="post" class="wpcf7-form" id="ajax-contact-form">
                                    <h5>Name <span class="colored">*</span></h5>
                                    <p>
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"/></span>
                                    </p>
                                    <h5>Email <span class="colored">*</span></h5>
                                    <p>
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"/></span>
                                    </p>
                                    <h5>Subject <span class="colored">*</span></h5>
                                    <p>
                                        <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"/></span>
                                    </p>
                                    <h5>Telephone number</h5>
                                    <p>
                                        <span class="wpcf7-form-control-wrap telephone"><input type="tel" name="telephone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false"/></span>
                                    </p>
                                    <h5>Your Message</h5>
                                    <p>
                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>
                                    </p>
                                    <p>
                                        <input type="submit" value="Send message" class="wpcf7-form-control wpcf7-submit"/>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 oi_no_lp">
                        <div id="map">
                        </div>
                        <div class="oi_need_p">
                            <h3>HOW TO FIND OUR <span class="colored"><strong> OFFICE</strong></span></h3>
                            <p>
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="oi_footer_holder">
            <div class="container">
                <div class="oi_footer">
                    <div class="row">
                        <div class="col-md-6">
                             Copyright © 2015 OrangeIdea. Coding by <a href="http://themeforest.net/user/FoxSash/portfolio?ref=FoxSash" class="colored" target="_blank">FoxSash</a>. All Rights Reserved.
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <div class="pull-right">
                            	<!-- Footer Menu Area -->
                                <ul id="menu-footer" class="list-unstyled footer_menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="faq-page.html">FAQ Page</a></li>
                                    <li><a href="the-blog.html">Blog</a></li>
                                </ul>
                                <!-- Footer Menu Area -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src='{{ "/assets/js/jquery-1.11.2.min.js" | absolute_url }}'></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src='{{ "/assets/bootstrap/bootstrap.min.js" | absolute_url }}'></script>
    <script type='text/javascript' src='{{ "/assets/js/SmoothScroll.js" | absolute_url }}'></script>
    <script type='text/javascript' src='{{ "/assets/js/jquery.waitforimages.js" | absolute_url }}'></script>
    <script type='text/javascript' src='{{ "/assets/FlexSlider/jquery.flexslider-min.js" | absolute_url }}'></script>
	<script type='text/javascript' src='{{ "/assets/js/jquery.isotope.min.js" | absolute_url }}'></script>
    <script type='text/javascript' src='{{ "/assets/js/modernizr.custom.js" | absolute_url }}'></script>     
    <script type='text/javascript' src='{{ "/assets/js/gmap3.min.js" | absolute_url }}'></script>
    <script type='text/javascript' src='{{ "/assets/js/custom.js" | absolute_url }}'></script>