---
layout: default
---
<div class="tag_line mb40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 oi_blog_post_title_inner">
                        <h3>Blog</h3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-right oi_breadcrumbs">
                        <div class="breadcrumbs">
                            <a class="colored" href="{{site.url}}/index.html">Home</a>
                            &nbsp;&nbsp;›&nbsp;&nbsp;<span><a href="{{site.url}}/blog/" class="colored">Blog</a></span>
                            &nbsp;&nbsp;›&nbsp;&nbsp;<span class="current">{{page.title}}</span> 
                    </div><!-- .breadcrumbs --> 
                    </div>
                </div>
            </div>                  
</div>
  <div class="container">
            <div class="row">
                <!--contetn-->
                <div class="col-md-8 col-sm-8">
                    <div class="post type-post status-publish format-standard hentry category-uncategorized row oi_post">
                        <div class="col-md-12">
                            <div class="blog_item">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="oi_blog_item_holder">
                                            <div class="oi_blog_head ">
                                                <h3 class="oi_blog_post_title_inner">{{page.title}}</h3>
                                                <div class="oi_blog_meta">
                                                     07 June 2014,&nbsp;&nbsp; By <a href="#" title="Posts by OrangeIdea" rel="author">OrangeIdea</a>,&nbsp;&nbsp; <a href="hello-world.html#comments">1 Comments</a>
                                                </div>
                                            </div>
                                            <div class="oi_blog_item_content">
                                                <div class="oi_blog_item_main_content">
                                                    <p>
                                                       {{content}}
                                                    </p>
                                                </div>
                                                <br>
                                                <div class="oi_share">
                                                    <div class="oi_post_share_icons">
                                                        <div class="oi_soc_icons">
                                                            <a href="https://twitter.com/share?url=http://themes.foxsash.com/newera20/hello-world.html" title="Twitter" target="_blank">
                                                            <div class="menu_icon_t">
                                                            </div>
                                                            </a>
                                                            <a href="http://www.facebook.com/sharer.php?u=http://themes.foxsash.com/newera20/hello-world.html" title="Facebook" target="_blank">
                                                            <div class="menu_icon_facebook">
                                                            </div>
                                                            </a>
                                                            <a href="https://plus.google.com/share?url=http://themes.foxsash.com/newera20/hello-world.html" title="Google+" target="_blank">
                                                            <div class="menu_icon_google">
                                                            </div>
                                                            </a>
                                                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://themes.foxsash.com/newera20/hello-world.html" title="LinkedIn" target="_blank">
                                                            <div class="menu_icon_in">
                                                            </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oi_commente_holder" id="comments">
                                <div class="comments_div">
                                    <h3 class="oi_comments_title">1 Comment:</h3>
                                </div>
                                <ol class="oi_ticket_commentlist">
                                    <li class="comment even thread-even depth-1" id="comment-3">
                                    <div id="div-comment-3" class="comment-body">
                                        <div class="comment-author vcard">
                                            <img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=32" class="avatar img-circle oi_avatar avatar-32 photo avatar-default img-responsive" height="32" width="32"><cite class="fn"><a href="https://wordpress.org/" rel="external nofollow" class="url">Mr WordPress</a></cite><span class="says">says:</span>
                                        </div>
                                        <div class="comment-meta commentmetadata">
                                            <a href="#">
                                            June 7, 2014 at 10:20 am</a>
                                        </div>
                                        <p>
                                            Hi, this is a comment.<br>
                                             To delete a comment, just log in and view the post's comments. There you will have the option to edit or delete them.
                                        </p>
                                        <div class="reply">
                                            <a class="comment-reply-link" href="#">Reply</a>
                                        </div>
                                    </div>
                                    </li>
                                    <!-- #comment-## -->
                                </ol>
                                <h4>Leave a Reply</h4>
                                <form class="form" action="#" method="post" id="contact-form">
                                    <input type="text" class="input-text" placeholder="Name" name="author" value=""><br>
                                    <br>
                                    <input class="input-text" type="text" placeholder="E-mail" name="email" value=""><br>
                                    <br>
                                    <textarea type="text" placeholder="Message" id="comment" name="comment" class="input-text" rows="5"></textarea><br>
                                    <br>
                                    <button name="submit" id="submit_form" type="submit" class="btn oi_submit">Replay</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/contetn-->   
                <!--Sidebar-->
                <div class="col-md-4 col-sm-4 oi_right_sidebar">
                    <div class="myrs">
                        <div class="oi_widget">
                            <h6 class="io_widget_title">Calendar</h6>
                            <div id="calendar_wrap">
                                <table id="wp-calendar">
                                <caption>March 2015</caption>
                                <thead>
                                <tr>
                                    <th scope="col" title="Monday">
                                        M
                                    </th>
                                    <th scope="col" title="Tuesday">
                                        T
                                    </th>
                                    <th scope="col" title="Wednesday">
                                        W
                                    </th>
                                    <th scope="col" title="Thursday">
                                        T
                                    </th>
                                    <th scope="col" title="Friday">
                                        F
                                    </th>
                                    <th scope="col" title="Saturday">
                                        S
                                    </th>
                                    <th scope="col" title="Sunday">
                                        S
                                    </th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <td colspan="3" id="prev">
                                        <a href="#">« Jun</a>
                                    </td>
                                    <td class="pad">&nbsp;
                                        
                                    </td>
                                    <td colspan="3" id="next" class="pad">&nbsp;
                                        
                                    </td>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <td colspan="6" class="pad">&nbsp;
                                        
                                    </td>
                                    <td>
                                        1
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        7
                                    </td>
                                    <td>
                                        8
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        9
                                    </td>
                                    <td>
                                        10
                                    </td>
                                    <td>
                                        11
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        13
                                    </td>
                                    <td>
                                        14
                                    </td>
                                    <td>
                                        15
                                    </td>
                                </tr>
                                <tr>
                                    <td id="today">
                                        16
                                    </td>
                                    <td>
                                        17
                                    </td>
                                    <td>
                                        18
                                    </td>
                                    <td>
                                        19
                                    </td>
                                    <td>
                                        20
                                    </td>
                                    <td>
                                        21
                                    </td>
                                    <td>
                                        22
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        23
                                    </td>
                                    <td>
                                        24
                                    </td>
                                    <td>
                                        25
                                    </td>
                                    <td>
                                        26
                                    </td>
                                    <td>
                                        27
                                    </td>
                                    <td>
                                        28
                                    </td>
                                    <td>
                                        29
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        30
                                    </td>
                                    <td>
                                        31
                                    </td>
                                    <td class="pad" colspan="5">&nbsp;
                                        
                                    </td>
                                </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="oi_widget">
                            <h6 class="io_widget_title">Categories</h6>
                            <ul>
                                <li><a href="#">All Posts</a></li>
                                <li><a href="#">Lessons</a></li>
                                <li><a href="#">Uncategorized</a></li>
                                <li><a href="#">Web Design</a></li>
                            </ul>
                        </div>
                        <div class="oi_widget">
                            <h6 class="io_widget_title">Flickr</h6>
                            <div id=""></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="oi_widget">
                            <h6 class="io_widget_title">Twitter Widget</h6>
                            <div class="oi_tweet">
                                <div class="oi_tweet_content">
                                    A huge collection of <a href="https://twitter.com/search?q=CSS" title="Search #CSS" target="_blank">#CSS</a> web animation tools, techniques and resources <a href="http://t.co/cE8z9qHq0u" title="http://t.co/cE8z9qHq0u" target="_blank">http://t.co/cE8z9qHq0u</a><a href="http://t.co/fvYkgOosAN" title="http://t.co/fvYkgOosAN" target="_blank">http://t.co/fvYkgOosAN</a>
                                </div>
                                <div class="oi_tweet_time">
                                    <a class="twitter_time" target="_blank" href="http://twitter.com/Orange_Idea_RU/statuses/577423313649201153">32 minutes ago</a>
                                </div>
                            </div>
                            <div class="oi_tweet">
                                <div class="oi_tweet_content">
                                    <a href="http://twitter.com/leondoyle" title="Follow leondoyle" target="_blank">@leondoyle</a> Hey Leon! My email address is josh.janssen<a href="http://twitter.com/envato" title="Follow envato" target="_blank">@envato</a>.com Thanks!
                                </div>
                                <div class="oi_tweet_time">
                                    <a class="twitter_time" target="_blank" href="http://twitter.com/Orange_Idea_RU/statuses/577313780687761409">7 hours ago</a>
                                </div>
                            </div>
                            <div class="oi_tweet">
                                <div class="oi_tweet_content">
                                    RT <a href="http://twitter.com/soulpancake" title="Follow soulpancake" target="_blank">@soulpancake</a>: Got to talk to some cool people from <a href="http://twitter.com/envato" title="Follow envato" target="_blank">@envato</a> the past couple weeks for their new <a href="https://twitter.com/search?q=MadeBySeries" title="Search #MadeBySeries" target="_blank">#MadeBySeries</a>! <a href="http://t.co/6BG1FGX1QQ" title="http://t.co/6BG1FGX1QQ" target="_blank">http://t.co/6BG1FGX1QQ</a>
                                </div>
                                <div class="oi_tweet_time">
                                    <a class="twitter_time" target="_blank" href="http://twitter.com/Orange_Idea_RU/statuses/577313556648980481">7 hours ago</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Sidebar-->
            </div>
        </div>       