---
layout: default
---
<div class="tag_line mb40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 oi_blog_post_title_inner">
                        <h3>Blog</h3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-right oi_breadcrumbs">
                        <div class="breadcrumbs">
                            <a class="colored" href="{{site.url}}/index.html">Home</a>&nbsp;&nbsp;›&nbsp;&nbsp;<span class="current">Blog</span>
                    </div><!-- .breadcrumbs --> 
                    </div>
                </div>
            </div>                  
</div>

{{ content }}